:root{
    --title-color: #322153; /*Atalho pra cor*/
    --primary-color: #34cb79;
}

/* '*' É como se fosse um seletor para todos elementos */
* {
    margin: 0;
    padding: 0;
    /*Tamanho da caixa em relação a borda*/
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none; /*Tira o sublinhado*/
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}